<h2 class = "newTitle">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <th><%= f.label :email,"メールアドレス" %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr>
      <th><%= f.label :password,"パスワード(６文字)" %></th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
  </table>

  <%= f.submit "ログイン", class: "newBtn" %>
  
<% end %>


